<% provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render 'upper_label', name: @taxon.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'category_panel', taxonomies: @taxonomies %>
        <%= render 'color_panel' %>
        <%= render 'size_panel' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area' %>
        <div class="row">
          <%= render 'product_box', products: @products, as: 'product' %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- LIGHT SECTION -->
<%= render 'partners_logo' %>
